.button {
  border-radius: 10px;
  padding: 8px 40px;
  border: none;
}

.primary {
  background-color: #FB437A;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 2px 10px #FB437A;
}

.secondary {
  background-color: #FFFFFF;
  color: #FB437A;
  font-size: 16px;
  font-weight: 600;
}