.navbar{
    display: flex;
    align-items: center;
    height: 20px;
    background-color: #FFFEFE;
    padding: 20px 55px;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: #9D9DBC;
}